In [3]:
import numpy as np
import pandas as pd 
import streamlit as st

In [4]:
df = pd.read_csv(r"salary.csv")
df

    Experience Years  Salary
0               1.10   39343
1               1.20   42774
2               1.30   46205
3               1.50   37731
4               2.00   43525
5               2.20   39891
6               2.50   48266
7               2.90   56642
8               3.00   60150
9               3.20   54445
10              3.20   64445
11              3.50   60000
12              3.70   57189
13              3.80   60200
14              3.90   63218
15              4.00   55794
16              4.00   56957
17              4.10   57081
18              4.30   59095
19              4.50   61111
20              4.70   64500
21              4.90   67938
22              5.10   66029
23              5.30   83088
24              5.50   82200
25              5.90   81363
26              6.00   93940
27              6.20   91000
28              6.50   90000
29              6.80   91738
30              7.10   98273
31              7.90  101302
32              8.20  113812
33              8.50  111620
34              8.70  109431
35              9.00  105582
36              9.50  116969
37              9.60  112635
38             10.30  122391
39             10.50  121872

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import  r2_score, mean_squared_error

X = df[['Experience Years']]
y = df[['Salary']] 


X_train ,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)



print(f"R2 Score:{r2_score(y_test,y_pred=y_pred)}")
print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred=y_pred)}")

R2 Score:0.9068577573647874
Mean Squared Error: 48077731.16919359

In [9]:
import pickle

with open("model.pkl",'wb') as file:
    pickle.dump(model, file)

In [11]:
with open("model.pkl", 'rb') as file:
    model = pickle.load(file)
    
input_data = np.array([[5], [10], [3]])
predictions = model.predict(input_data)
predictions

array([[ 73756.40653868],
       [120796.56290121],
       [ 54940.34399367]])